{
  "Logging": {
    "LogLevel": {
      "Default": "Debug",
      "System": "Information",
      "Microsoft": "Information"
    }
  },
  "RootUser": {
    "Create": false,
    "Username": "Username",
    "Email": "email@example.com",
    "Password": "password"
  }
}
