@using EnderstudyOAuthServer.Data.Entities
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Enderstudy</title>
    <link rel="stylesheet" href="~/css/main.css" />
</head>
<body>
<header class="header">
    <nav class="nav">
        <div class="nav__brand">
            <a href="/">
                <img class="nav__brand__image" src="https://files.enderstudy.com/es_logo_new.svg"/>
            </a>
        </div>
        <div class="nav__menu">
            <button class="button nav__menu__toggle" id="nav-open">
                <i class="fas fa-bars"></i>
            </button>
            <partial name="Nav/Menu_Desktop"/>
        </div>
    </nav>
</header>
<main class="main">
    @RenderBody()
</main>
</body>
</html>