@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700&display=swap');

@import "layout";
@import "utility";
@import "buttons";
@import "forms";
@import "nav"; 

* {
  box-sizing: border-box;
}

html {
  background: #111;
  height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  height: 100%;
  color: #FFF;
}